.header {
	position: sticky;
	top: 0px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	height: 60px;
}
.header-top {
	height: 30px;
	background-color: #ffffff;
}
.between-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.start-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.body {
	display: flex;
	flex-direction: column;
}
.first-text {
	font-size: 20px;
}
.second-text {
	font-size: 16px;
}
.active-text {
	color: #00aa00;
}
